canvas {
  width: 100vw;
  height: 100vh;
  background-image: url('bg.jpg');
  background-position: center center;
  background-repeat: no-repeat ;
  background-size: cover;
}

   
/* Estilo adicional para los botones si lo necesitas */
button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}