/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

#portada {
    text-align: center;
    padding: 50px;
}

#instrucciones,
#seleccion,
#inicio {
    text-align: center;
    padding: 20px;
}

h1{
    font-family: 'Press Start 2P';
    color: darkgray;   
}
.header{
    display: flex;
    justify-content: center;
}

.main{
    background-image: url('portada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Space Mono';
}
h2{
    font-size: 18px;
}
/* Estilo para el contenedor rectangular con borde redondeado y fondo transparente */
#modelosNaveContainer {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Borde redondeado con color blanco y opacidad 50% */
    border-radius: 10px; /* Ajusta el radio de los bordes según tu preferencia */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo transparente con opacidad 50% */
    padding: 10px; /* Ajusta el espacio interno según tu preferencia */
   
}

/* Ajustes adicionales para las naves dentro del contenedor */
.filaModelos {
    display: flex;
    justify-content: space-between;
}

.modeloNave {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
    width: 100px; /* Nuevo ajuste: Ancho máximo de cada modelo */
    height: 100px; /* Nuevo ajuste: Altura máxima de cada modelo */
    margin: 10px; /* Nuevo ajuste: Espaciado entre modelos */
}
#modelosNaveContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px
}
.modeloNave:hover {
    border-color: #fff;
}

.modeloNave.seleccionado {
    border-color: #00ff00; /* Cambia el color de resaltado según tu preferencia */
}
#seleccion{
   margin-bottom: 0; 
}
#dificultad {
    text-align: center;
    padding: 20px;
    position: relative;
}

#selectDificultad {
    padding:5px;
    border-radius: 5px;
    font-size: 12px;
}

#informacion-adicional {
    text-align: center;
    padding: 20px;
    background-color: slategrey;
    border-radius: 10px;
    font-family: calibri;
    font-size: 14px;
    position: relative;
    margin: 0 auto; /* Para centrar horizontalmente */
    max-width: 600px; /* Ajusta el ancho máximo según tu preferencia */
    margin-bottom: 20px;
}

#informacion-adicional a {
    display: block; /* Hace que el enlace ocupe todo el ancho disponible */
    padding: 10px;
    margin-top: 10px; /* Ajusta el margen superior según tu preferencia */
    background-color: #00f; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Ajusta el radio de los bordes del botón según tu preferencia */
}

#informacion-adicional a:hover {
    background-color: #710293; /* Cambia el color de fondo al pasar el ratón por encima */
}

button{
    border-radius: 20px;
    padding: 15px;
    background-color: brown;
    color: white;
    font-family: 'Press Start 2P';
}
button:hover{
    background-color: rgb(212, 151, 21);
}

/* MODAAAAAL GAME OVER */

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  }
  
  /* Estilo para el contenido del modal */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilo para el botón de cerrar (reiniciar en este caso) */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }